/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Gilroy-Light";
  src: url("../font/Gilroy-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../font/Gilroy-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../font/Gilroy-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font-family: "Gilroy-Light", sans-serif;
  font-size: 19px;
  color: #fff;
  line-height: 38px; }

a {
  color: #ff4f00; }

a:hover {
  text-decoration: none; }

.container {
  padding: 50px; }

header {
  position: absolute;
  margin-top: 50px;
  left: 0;
  width: 100%; }
  header a.logo {
    background: url(../images/logo.png) no-repeat;
    display: block;
    width: 413px;
    height: 54px;
    margin: auto; }

.navigation-wrapper .navigation {
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100vh - 104px);
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(255, 79, 0, 0.95);
  align-items: center;
  padding: 100px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  visibility: hidden; }
  .navigation-wrapper .navigation a {
    font-family: "Gilroy-Light", sans-serif;
    font-size: 19px;
    color: #fff;
    text-decoration: none; }

.navigation-wrapper label {
  width: 75px;
  height: 71px;
  background: transparent;
  position: absolute;
  top: 100%;
  left: calc(50% - 37.5px);
  z-index: 9999; }

.navigation-wrapper label:before,
.navigation-wrapper label:after {
  content: "";
  position: absolute;
  width: 46px;
  height: 3px;
  top: 27px;
  left: 14px;
  background: #ff4f00;
  transition: all 0.3s linear; }

.navigation-wrapper label:after {
  top: initial;
  bottom: 27px; }

.navigation-wrapper input[type="checkbox"]:checked ~ ul {
  visibility: visible;
  opacity: 1; }

.navigation-wrapper input[type="checkbox"] {
  display: none; }

.navigation-wrapper input[type="checkbox"]:checked + label:before,
.navigation-wrapper input[type="checkbox"]:checked + label:after {
  top: 35.5px;
  transition: all 0.3s linear;
  background: #fff; }

.navigation-wrapper input[type="checkbox"]:checked + label:before {
  transform: rotate(45deg); }

.navigation-wrapper input[type="checkbox"]:checked + label:after {
  transform: rotate(-45deg); }

main .main-image {
  background: url(../images/PorscheSinger911-small.jpg) no-repeat;
  background-size: auto;
  min-height: 100vh; }
  @media (min-width: 501px) {
    main .main-image {
      background: url(../images/PorscheSinger911-big.jpg) no-repeat;
      background-size: cover; } }

main .arrow-down:before {
  content: "";
  background-image: url(../svg/arrow-down.svg);
  width: 45px;
  height: 24px;
  position: absolute;
  bottom: 50px;
  left: calc(50% - 22.5px); }

main .info-wrapper {
  background-image: url(../images/bg-card-small-info.png);
  min-height: 100vh; }
  main .info-wrapper .subtitle {
    font-family: "Gilroy-SemiBold", sans-serif;
    font-size: 16px;
    color: #fff;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #8d8d8d;
    margin-bottom: 39px; }
    main .info-wrapper .subtitle :last-child {
      color: #ff4f00; }

main .title {
  position: relative;
  margin-bottom: 47px;
  font-family: "Gilroy-Light", sans-serif;
  font-size: 70px;
  color: #fff;
  line-height: 85px; }
  main .title:before {
    content: "";
    width: 7px;
    height: 221px;
    background: #ff4f00;
    position: absolute;
    top: 0;
    left: -50px; }
  main .title strong {
    font-family: "Gilroy-Bold", sans-serif;
    line-height: 85px;
    letter-spacing: -2px; }

main .info-block p {
  margin-bottom: 22px; }
  main .info-block p strong {
    font-family: "Gilroy-SemiBold", sans-serif; }
  main .info-block p a {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: rgba(255, 79, 0, 0.1);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.25);
    border: 3px solid #ff4f00;
    min-width: 250px;
    padding: 29px 74px;
    color: #fff;
    text-decoration: none; }
