*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    @include text ($font-light, $font-medium);
    line-height: 38px
}

a {
    color: $mainColor;
}

a:hover {
    text-decoration: none;
}

.container {
    padding: 50px;
}

header {
    position: absolute;
    margin-top: 50px;
    left: 0;
    width: 100%;

    a.logo {
        background: url(../images/logo.png) no-repeat;
        display: block;
        width: 413px;
        height: 54px;
        margin: auto;
    }
}

.navigation-wrapper {

    .navigation {
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(100vh - 104px);
        min-height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(255, 79, 0, 0.95);
        align-items: center;
        padding: 100px;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
        visibility: hidden;

        a {
            @include text ($font-light, $font-medium);
            text-decoration: none;
        }
    }

    label {
        width: 75px;
        height: 71px;
        background: transparent;
        position: absolute;
        top: 100%;
        left: calc(50% - 37.5px);
        z-index: 9999;
    }

    label:before,
    label:after {
        content: "";
        position: absolute;
        width: 46px;
        height: 3px;
        top: 27px;
        left: 14px;
        background: $mainColor;
        transition: all 0.3s linear;
    }

    label:after {
        top: initial;
        bottom: 27px;
    }

    input[type="checkbox"]:checked~ul {
        visibility: visible;
        opacity: 1;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked+label:before,
    input[type="checkbox"]:checked+label:after {
        top: 35.5px;
        transition: all 0.3s linear;
        background: $baseColor;
    }

    input[type="checkbox"]:checked+label:before {
        transform: rotate(45deg);
    }

    input[type="checkbox"]:checked+label:after {
        transform: rotate(-45deg);
    }

}

main {
    .main-image {
        background: url(../images/PorscheSinger911-small.jpg)no-repeat;
        background-size: auto;
        min-height: 100vh;

        @include media(">500px") {
            background: url(../images/PorscheSinger911-big.jpg) no-repeat;
            background-size: cover;
        }
    }

    .arrow-down:before {
        content: "";
        background-image: url(../svg/arrow-down.svg);
        width: 45px;
        height: 24px;
        position: absolute;
        bottom: 50px;
        left: calc(50% - 22.5px);
    }

    .info-wrapper {
        background-image: url(../images/bg-card-small-info.png);
        min-height: 100vh;

        .subtitle {
            @include text ($font-semibold, $font-small);
            letter-spacing: 10px;
            text-transform: uppercase;
            color: $fadedColor;
            margin-bottom: 39px;

            :last-child {
                color: $mainColor;
            }
        }


    }

    .title {
        position: relative;
        margin-bottom: 47px;
        @include text ($font-light, $font-lg);
        line-height: 85px;

        &:before {
            content: "";
            width: 7px;
            height: 221px;
            background: #ff4f00;
            position: absolute;
            top: 0;
            left: -50px;
        }

        strong {
            font-family: $font-bold;
            line-height: 85px;
            letter-spacing: -2px;
        }

    }

    .info-block p {
        margin-bottom: 22px;

        strong {
            font-family: $font-semibold;
        }

        // a {
        //     @include main-button;
        // }
    }



}