*,
*:before,
*:after {
    box-sizing: border-box;
}


body {
    @include text ($font-light, $font-medium);
    line-height: 38px;
    background: radial-gradient(ellipse at center, rgba(59, 59, 59, 1) 0%, rgba(24, 23, 23, 1) 100%);
}

a {
    color: $mainColor;
}

a:hover {
    text-decoration: none;
}

.wrapper {
    max-width: 1680px;
    max-height: 1100px;
    position: relative;
    margin: auto;

    header {
        position: absolute;
        margin-top: 50px;
        left: 0;
        width: 100%;
        z-index: 1;

        @include media(">=1280px") {
            padding: 60px;
            margin: 0;
        }

        a.logo {
            background: url(../images/logo.png) no-repeat;
            display: block;
            max-width: 413px;
            height: 54px;
            margin: auto;
            background-size: contain;

            @include media(">=1280px") {
                margin: 2px;
            }
        }

        .icon-search {
            width: 27px;
            height: 28px;
            background: url(../svg/search-icon.svg);
            display: none;

            @include media(">=1280px") {
                display: block;
                position: absolute;
                right: 95px;
                top: 55px;
                z-index: 1;
            }

            &:hover {
                cursor: pointer;
            }

            @include media(">=1680px") {
                right: 150px;
            }
        }
    }

    .navigation-wrapper {

        .navigation {
            position: absolute;
            left: 0;
            width: 100%;
            height: calc(100vh - 104px);
            min-height: 450px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: rgba(255, 79, 0, 0.95);
            align-items: center;
            padding: 100px;
            opacity: 0;
            transition: opacity 0.4s ease-in-out;
            visibility: hidden;

            a {
                @include text ($font-light, $font-medium);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        label {
            width: 75px;
            height: 71px;
            background: transparent;
            position: absolute;
            top: 100%;
            left: calc(50% - 37.5px);
            z-index: 9999;
            cursor: pointer;

            @include media(">=1280px") {
                top: 33px;
                right: 0;
                left: inherit;
            }

            @include media(">=1680px") {
                right: 57px;
            }


            &:before,
            &:after {
                content: "";
                position: absolute;
                width: 46px;
                height: 3px;
                top: 27px;
                right: 14px;
                background: $mainColor;
                transition: all 0.3s linear;

                @include media(">=1280px") {
                    right: 3px;
                }
            }

            &:after {
                top: initial;
                bottom: 27px;

                @include media(">=1280px") {
                    width: 36px;
                }
            }
        }



        input[type="checkbox"]:checked~ul {
            visibility: visible;
            opacity: 1;

            @include media(">=1280px") {
                z-index: 1;
                right: 0;
                left: inherit;
                width: 61%;
            }

            @include media(">=1680px") {
                width: 50%;
                max-height: 982px;
            }
        }
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked+label:before,
    input[type="checkbox"]:checked+label:after {
        top: 35.5px;
        transition: all 0.3s linear;
        background: $baseColor;
    }

    input[type="checkbox"]:checked+label:before {
        transform: rotate(45deg);
    }

    input[type="checkbox"]:checked+label:after {
        transform: rotate(-45deg);

        @include media(">=1280px") {
            width: 46px;
        }
    }

}

main {
    overflow: hidden;

    @include media(">=1280px") {
        display: flex;
    }

    @include media(">=1680px") {
        max-height: 1100px;
    }


    .main-image {
        background: url(../images/PorscheSinger911-small.jpg)no-repeat;
        background-size: auto;
        min-height: 100vh;
        position: relative;

        @include media(">500px") {
            background: url(../images/PorscheSinger911-big.jpg) no-repeat;
            background-size: cover;
        }

        @include media(">=1280px") {
            width: 39%;
        }

        @include media(">=1680px") {
            width: 39%;
            width: 50%;
            background-size: auto;
        }

    }

    .arrow-down {
        background-image: url(../svg/arrow-down.svg);
        width: 45px;
        height: 24px;
        position: absolute;
        bottom: 50px;
        left: calc(50% - 22.5px);

        @include media(">=1280px") {
            display: none;
        }
    }

    .info-wrapper {
        background: linear-gradient(to bottom, rgba(255, 79, 0, 0) 50%, rgba(255, 79, 0, 0.2) 100%), url(../images/bg-card-small-info.png);
        min-height: 100vh;
        position: relative;
        border-bottom: 135px solid $mainColor;

        @include media(">=1280px") {
            width: 61%;
        }

        @include media(">=1680px") {
            width: 50%;
            border-bottom: 155px solid $mainColor;
        }

        .container {
            padding: 50px;
            max-width: 600px;

            @include media(">=1280px") {
                padding: 119px;
                max-width: 800px;

            }
        }

        .subtitle {
            @include text ($font-semibold, $font-small);
            text-transform: uppercase;
            color: $fadedColor;
            margin-bottom: 19px;
            line-height: 16px;
            letter-spacing: 9.5px;

            :last-child {
                color: $mainColor;
            }
        }
    }

    .title {
        position: relative;
        @include text ($font-light, $font-lg);
        line-height: 85px;
        margin-bottom: 30px;

        @include media(">=1280px") {
            font-size: 69px;
            margin-left: -5px;
        }

        &:before {
            content: "";
            width: 7px;
            height: 221px;
            background: #ff4f00;
            position: absolute;
            top: 17px;
            left: -50px;

            @include media(">=1280px") {
                left: -58px;
            }
        }

        strong {
            font-family: $font-bold;
            line-height: 85px;
            letter-spacing: -2px;

            @include media(">=1280px") {
                letter-spacing: -0.5px;
            }
        }

    }

    .info-block {
        margin-bottom: 61px;

        p {
            margin-bottom: 47px;
        }

        strong {
            font-family: $font-semibold;
        }

    }

    a.button {
        @include main-button;
    }


    .arrows {
        display: flex;
        width: 180px;
        justify-content: space-between;
        margin-bottom: 75px;
    }

    .gallery {
        display: flex;
        position: absolute;
        bottom: -155px;
        left: 0;
        right: 0;
        padding: 60px 50px;

        .slide {
            @include images-effects;

            &:hover,
            &.active {
                @include images-hover
            }

            img {
                display: block;
            }
        }

        @include media(">=1280px") {
            left: -172px;
            bottom: -137px;
        }

        @include media(">=1680px") {
            left: -170px;
            bottom: -155px;
        }
    }
}